* {
  margin: 0;
  padding: 0;

  text-align: center;
}
header {
  height: 250px;
  color: pink;
  align-items: center;
  background-color: #282c35;
}

header h1 {
  padding-top: 70px;
  font-size: 4rem;
}
.projects {
  background: #f1f5f8;
  display: flex;
  justify-content: space-evenly;
  padding: 50px;
  flex-wrap: wrap;
}
